

::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
    background-color: #eee;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
    color: #09B5B0;
    background-color: transparent;
    font-weight: normal;
}

h1, h2 {
    margin: 15px 0;
}

h2 {
    font-weight: normal;
}

ul {
    margin: 10px;
}
.topbar {
    padding: 16px 0;
    margin-bottom: 100px;
    height: 28px;
    border-bottom: 2px solid #ddd;
}

.container {
    width: 980px;
    margin: 0 auto;
}

.bottom .container {
    height: 450px;
    background-image: url('/error_404.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: 300px 0;
}

.h2_grey {
    color: #8b8989;
}

.details {
    margin: 25px 0;
    font-size: 14px;
}



